In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [8]:
A_df = pd.read_csv('SP500.csv', thousands=',')
A_df = A_df.rename(columns={'ticker_region': 'ticker','proper_name':'company_name','ff_fiscal_date':'Date','currency':'Currency','ff_price_close_fp':'Closing Price','ff_mkt_val':'Market Value','ff_sales':'Sales','ff_oper_exp_tot':'Operating Expenses','ff_oper_inc':'Operating Income','ff_ebit':'EBIT','ff_ptx_inc':'Pretax Income','ff_inc_tax':'Income Tax','ff_net_income':'Net Income','ff_ebit_oper_mgn':'Operating Margin','ff_gross_mgn':'Gross Margin','ff_eps_basic':'EPS'})
A_df = A_df.drop(A_df.columns[[1,14]], axis='columns')
A_df.head()

,ticker,company_name,Date,Currency,Closing Price,Market Value,Sales,Operating Expenses,Operating Income,EBIT,Pretax Income,Income Tax,Net Income,Operating Margin,Gross Margin,EPS
0,A-US,"Agilent Technologies, Inc.",1/31/2005,USD,22.11,10856.0,1658.0,1556.0,102.0,102.0,124.0,21.0,103.0,6.15,45.48,0.2100
1,A-US,"Agilent Technologies, Inc.",4/30/2005,USD,20.75,10188.3,1688.0,1600.0,88.0,88.0,120.0,25.0,95.0,5.21,46.86,0.1900
2,A-US,"Agilent Technologies, Inc.",7/31/2005,USD,26.24,12962.6,1688.0,1558.0,130.0,130.0,129.0,25.0,104.0,7.70,46.27,0.2100
3,A-US,"Agilent Technologies, Inc.",10/31/2005,USD,32.01,16688.5,105.0,258.0,-153.0,-153.0,-109.0,84.0,25.0,-145.71,NaN,0.0500
4,A-US,"Agilent Technologies, Inc.",1/31/2006,USD,33.91,17701.0,1336.0,1252.0,84.0,84.0,93.0,15.0,985.0,6.29,51.57,2.0824